<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minchat.chat.dao.CtCustomerGuestDao">
    <resultMap id="BaseResultMap" type="com.minchat.chat.model.CtCustomerGuest">
        <id column="CUSTOMER_GUEST_ID" property="customerGuestId" jdbcType="BIGINT"/>
        <result column="C_INBOUND_ID" property="cInboundId" jdbcType="VARCHAR"/>
        <result column="G_INBOUND_ID" property="gInboundId" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_ID" property="customerId" jdbcType="BIGINT"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
        <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    CUSTOMER_GUEST_ID, C_INBOUND_ID, G_INBOUND_ID, CUSTOMER_ID, USER_ID, CREATETIME
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from ct_customer_guest
        where CUSTOMER_GUEST_ID = #{customerGuestId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ct_customer_guest
    where CUSTOMER_GUEST_ID = #{customerGuestId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.minchat.chat.model.CtCustomerGuest">
    insert into ct_customer_guest (CUSTOMER_GUEST_ID, C_INBOUND_ID, G_INBOUND_ID, 
      CUSTOMER_ID, USER_ID, CREATETIME
      )
    values (#{customerGuestId,jdbcType=BIGINT}, #{cInboundId,jdbcType=VARCHAR}, #{gInboundId,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.minchat.chat.model.CtCustomerGuest">
        insert into ct_customer_guest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerGuestId != null">
                CUSTOMER_GUEST_ID,
            </if>
            <if test="cInboundId != null">
                C_INBOUND_ID,
            </if>
            <if test="gInboundId != null">
                G_INBOUND_ID,
            </if>
            <if test="customerId != null">
                CUSTOMER_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="createtime != null">
                CREATETIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerGuestId != null">
                #{customerGuestId,jdbcType=BIGINT},
            </if>
            <if test="cInboundId != null">
                #{cInboundId,jdbcType=VARCHAR},
            </if>
            <if test="gInboundId != null">
                #{gInboundId,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.minchat.chat.model.CtCustomerGuest">
        update ct_customer_guest
        <set>
            <if test="cInboundId != null">
                C_INBOUND_ID = #{cInboundId,jdbcType=VARCHAR},
            </if>
            <if test="gInboundId != null">
                G_INBOUND_ID = #{gInboundId,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                CUSTOMER_ID = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createtime != null">
                CREATETIME = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where CUSTOMER_GUEST_ID = #{customerGuestId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.minchat.chat.model.CtCustomerGuest">
    update ct_customer_guest
    set C_INBOUND_ID = #{cInboundId,jdbcType=VARCHAR},
      G_INBOUND_ID = #{gInboundId,jdbcType=VARCHAR},
      CUSTOMER_ID = #{customerId,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=BIGINT},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP}
    where CUSTOMER_GUEST_ID = #{customerGuestId,jdbcType=BIGINT}
  </update>
    <!--  -->
    <select id="selectBygInboundId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from ct_customer_guest
        where G_INBOUND_ID = #{gInboudnId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByGinboundId" parameterType="java.lang.String">
    delete from ct_customer_guest
    where G_INBOUND_ID = #{gInboundId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByCinboundId" parameterType="java.lang.String">
    delete from ct_customer_guest
    where C_INBOUND_ID = #{cInboundId,jdbcType=VARCHAR}
  </delete>
</mapper>